body {
    background: #edf9f9;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

.jumbotron {
    background-repeat: no-repeat;
    background-position: calc(60%) calc(70%);
    background-image: url("../img/top.jpg");
    background-size: cover;
    height: 100vh;
    margin-bottom: 0px;
    min-height: 300px;
}

.btn-primary {
    background: #FBC0AF;
    border-color: #FBC0AF;
}

.btn-top {
    width: 30%;
}

.ui.main.container {
    padding-top: 80px;
}

a.logo {
    font-family: 'Exo', sans-serif;
    color: #f33;
}

.bland-message {
    font-family: "Sawarabi Mincho";
    font-size: 36px;
}

div.center.column {
    text-align: left;
    max-width: 650px;
}

.statement {
    background-color: rgba(255, 210, 210, .5);
    border-radius: .28571429rem;
    padding: 10pt;
    font-size: 1em;
    color: red;
}

.register {
    color: #0066CC;
    font-size: 16px;
    font-weight: bold;
    text-decoration: underline;
}

ul.label {
    list-style-type: none;
}

.field {
    text-align: left;
}

.number {
    text-align: right;
    vertical-align: middle !important;
    width: 100px !important;
}

.unit {
    vertical-align: middle;
}

.dropdown:hover > .menu {
    display: flex;
}

.photo-show {
    height: 300px;
    margin: auto;
    max-width: 100%;
    position: relative;
    width: 440px;
}

.photo-show img {
    animation: show 9s infinite;
    height: auto;
    max-width: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes show {
    0% {
        opacity: 0
    }
    20% {
        opacity: 1
    }
    40% {
        opacity: 1
    }
    60% {
        opacity: 0
    }
}

.photo-show img:nth-of-type(1) {
    animation-delay: 0s;
}

.photo-show img:nth-of-type(2) {
    animation-delay: 3s;
}

.photo-show img:nth-of-type(3) {
    animation-delay: 6s;
}

.photo-show img {
    transition: 0.2s;
}

.photo-show:hover img {
    animation-play-state: paused;
}

.error-message {
    color: #ff0000;
}

.index-block{
    margin: 0 auto;
    width: 800px;
    justify-content:space-around;
    display: flex;
}

.index-icon {
    padding:0.5em 1em;
    margin:2em 0;
    font-weight:bold;
    background:#FFF;
    border-radius:10px;
    width: 250px;
    height: 300px;
}

.index-text{
    position:relative;
    text-align:left;
    margin:0;
    padding:0;
}

.index-button {
    display: inline-block;
    margin: 0 .25em 0 0;
    padding: .78571429em 1.5em;
    line-height: 1em;
    border-radius: .28571429rem;
    position:relative;
    color: #FFF;
}

.acceptance-icon {
    padding:0.5em 1em;
    margin:0 auto;
    background:#FFF;
    border-radius:10px;
    width: 250px;
}

.user-block{
    margin: 30px;
    width: 800px;
    text-align: center;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
    padding: 1em;
    border-radius: .28571429rem;
    border: 1px solid rgba(34,36,38,.15);
}

td {
    width: 400px;
}

.box_k{
    padding: 0.5em 1em;
       margin: 2em 0;
       font-weight: bold;
       color: #6091d3;/*文字色*/
       background: #FFF;
       border: solid 3px #6091d3;/*線*/
       border-radius: 10px;/*角の丸み*/
       text-align: center;
}

.box_k p {
    margin: 0;
    padding: 0;
}

/**
* パンくずリスト用css
*/
.cp_stepflow02 {
	font-size: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 0 1em;
	padding: 0;
}
.cp_stepflow02 > li {
	position: relative;
	display: block;
	width: auto;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	text-overflow: ellipsis;
	color: #b0bec5;

	 -ms-flex: 1;
	-moz-flex: 1;
	-webkit-box-flex: 1;
	     flex: 1;
}
.cp_stepflow02 > li .bubble {
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 auto 0.5em;
	border-radius: 1000px;
	background-color: #b0bec5;
}
.cp_stepflow02 > li .bubble::after,
.cp_stepflow02 > li .bubble::before {
	position: absolute;
	top: 9px;
	display: block;
	width: 100%;
	height: 3px;
	content: '';
	background-color: #b0bec5;
}
.cp_stepflow02 > li.completed,
.cp_stepflow02 > li.completed .bubble {
	color: #00acc1;
}
.cp_stepflow02 > li.completed .bubble,
.cp_stepflow02 > li.completed .bubble::after,
.cp_stepflow02 > li.completed .bubble::before {
	background-color: #4dd0e1;
}
.cp_stepflow02 > li.completed > .bubble + span::before {
	font-family: Fontawesome;
	content: '\f00c';
}
.cp_stepflow02 > li:last-child .bubble::after,
.cp_stepflow02 > li:last-child .bubble::before {
	width: 0%;
	margin-right: 50%;
}
.cp_stepflow02 > li.active,
.cp_stepflow02 > li.active .bubble {
	font-weight: bold;
	color: #f57c00;
}
.cp_stepflow02 > li.active .bubble,
.cp_stepflow02 > li.active .bubble::after,
.cp_stepflow02 > li.active .bubble::before {
	background-color: #fb8c00;
}

/**
* パンくずリスト用css ここまで
*/